button{
    border-radius: 5px;
    width: 10%;
    text-decoration: none;
   text-decoration-style: none;
    background-color: #ffd700;
    color: white;
}

a{
    text-decoration: none;
    text-decoration-style: none;
    color:white;
}

.filter{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    height: 36px;
    margin-top: 16px;
    background-color:rgb(25, 25, 92);
}
.Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 550px;
    width: 550px;
    border: solid #ffd700;
    margin: 10px;
}
.BoxCardfilter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}
